[Unit]
Description=Rasa-Logger
After=rasa-core.service
[Service]
Type=simple
WorkingDirectory=/home/ubuntu/Rasa/Delta/auxiliary/
ExecStart=/home/ubuntu/Rasa/Delta/delta_env/bin/python3.7 /home/ubuntu/Rasa/Delta/auxiliary/logger.py
User=root
Group=daemon
Restart=on-failure