[Unit]
Description=Rasa-Action
After=multi-user.target
[Service]
Type=simple
WorkingDirectory=/home/ubuntu/Rasa/Delta/actions
ExecStart=/home/ubuntu/Rasa/Delta/delta_env/bin/python3.7 -m rasa run actions
User=root
Group=daemon
Restart=on-failure