[Unit]
Description=Rasa-Core
After=rasa-actions.service
[Service]
Type=simple
WorkingDirectory=/home/ubuntu/Rasa/Delta
ExecStart=/home/ubuntu/Rasa/Delta/delta_env/bin/python3.7 -m rasa run --enable-api -p 5006
User=root
Group=daemon
Restart=on-failure