[Unit]
Description=Rasa-Logger-en
After=rasa-core-en.service
[Service]
Type=simple
WorkingDirectory=/home/ubuntu/Rasa/Delta_en/auxiliary/
ExecStart=/home/ubuntu/Rasa/Delta_en/delta_env/bin/python3.7 /home/ubuntu/Rasa/Delta_en/auxiliary/logger.py
User=root
Group=daemon
Restart=on-failure